        .imagen{
            width: 250px;
            box-shadow: 10px 10px 20px;
            border-radius: 10px;
            border: 2px goldenrod solid;
        }

        #carta{
            display: flex;
            margin: 10px 10px;
        }

        .imagenalfa{
            width: 250px;
            box-shadow: 10px 10px 20px;
            border-radius: 10px;
            border: 2px goldenrod solid;
            filter: grayscale(100%);
        }

        div[id^='formu']{
            margin-left: 3%;
            text-align:center;
            align-items: center;
        }

        #formu form{
            border:1px solid black;
            width: 175px;
            height: 125px;
            padding:10px;
            border-radius: 6px;
        }

        #formu h2{
            text-decoration: underline;
        }


        #carta:hover #formu{
            display: flex;
        }
