        /* Estilos para la forma en la que se muestra la colección*/
        .selecciones{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 10px;
        }

        .selecciones > ul > a{
            display: inline-block;
            text-decoration: none;
            color: white;
            margin: auto;
            width:650px;
            text-align: center;
            font-size: 20px;
        }

        ul{
            margin-left: -4%;
            list-style:none;
        }

        li{
            border: 2px solid black;
            padding: 10px;
            margin-right: 2%;
            border-radius: 10px;
        }

        #coleccion{
            margin-left: 6%;
            display:grid;
            grid-template-columns: 25% 25% 25% 25%;
        }


/* CSS para una optima visualizacion de la cartas*/
        .imagen{
            width: 250px;
            box-shadow: 10px 10px 20px;
            border-radius: 10px;
            border: 2px goldenrod solid;
        }

        #carta{
            display: flex;
            margin: 10px 10px;
        }

        .imagenalfa{
            width: 250px;
            box-shadow: 10px 10px 20px;
            border-radius: 10px;
            border: 2px goldenrod solid;
            filter: grayscale(100%);
        }

        /*div[id^='formu']{
            margin-left: 3%;
            text-align:center;
            align-items: center;
        }*/

        #formu form{
          /*  width: 175px;
            height: 125px;
            padding:10px;
            border-radius: 6px;
                */
        }

        button{
            border-style: none;
            padding: 0px;
            border-radius: 10px;
            margin-top:6%;
        }

        #formu h2{
            text-decoration: underline;
        }

